html {
    color : #DBDBDB;
    font-family :Arial, Helvetica, sans-serif;
}

body {
    background-color: #212121;
}

header {
    background-color: #313131;
    margin : 0px;
    border: 0px;
    padding: 0px;
}
th {
    min-width: 70px;
    width: 70px;
    border : 2px black;
    background-color : #313131;
}
#para {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
} 