html {
    color : #DBDBDB;
    font-family :Arial, Helvetica, sans-serif;
}

body {
    background-color: #212121;
}

.navbar {
    background-color: #313131;
    margin : 0px;
    border: 0px;
    padding: 0px;
}

.navactive {
    color : white;
}
.navlink {
    color: grey;
}
th {
    min-width: 4%;
    width: 4%;
    border : 2px black;
    background-color : #313131;
}
td {
    text-align: center;
    width: 4%;
    border : 2px black;
    background-color : #313131;
}
#para {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
} 

*{box-sizing: border-box}
body {
    height:100%;
    margin: 0;
}
.tablink{
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 25px;
    width: 25%;
}
.tablink:hover{
    background-color: #777
}
.tabcontent{
color:white;
display:none;
padding:100px 20px;
height: auto;
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}
.navbar{
    text-align: center;
}

#ueftab {background-color: rgba(70,70,255,.5);}
#cybrantab {background-color: rgba(255,70,70,.5);}
#aeontab {background-color: rgba(70,255,70,.5);}
#seratab {background-color: rgba(255,175,50,.5);}