h1 {
    color : lightpink;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
th {
    width: 100px;
    border : 2px black;
    background-color : lightgrey;
}
#para {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
} 